* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Markazi Text', 'serif', 'karla';
  margin: 3rem 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.nav {
  display: flex;
  grid-area: header;
  padding: 10px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
}
.nav-main-div {
  display: flex;
}

.header {
  background-color: #495E57;
  position: relative;
  display: flex;
}

.hero-section-texts {
  display: block;
  color: #fff;
}

.hero-section-image {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 18px;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.hero h1{
  font-family: 'Markazi text';
  color: #F4CE14;
}

.hero > p, h2{
  font-family: 'Markazi text';
  color: white;
  padding-bottom: 4px;
}

nav ul {
  list-style: none;
  text-align: center
}

nav ul li:hover {
  color: #EDEFEE;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

a:hover {
  border: 2px solid #F4CE14;
  color: #ffffff;
}

a:link {
  color: #333333;
  font-size: medium;
  text-decoration: none;
}

a:visited {
  color: #495E57;
}

/* Nuevas reglas para el botón */
section .button {
  position: absolute;
  top: 0;
  right: 0;
}
.card:hover {
  box-shadow: 5px 0px 25px black;
}

.card-info {
  padding: 5px;
}
.card-price {
  font-weight: bold;
}
.card-name {
  font-weight: bold;
  padding-bottom: 5px;
}
.card-price {
  color: #EE9972;
  font-size: small;
}
.card-details {
  color: #495E57;
  font-size: small;
  padding-bottom: 10px;
}

.button {
  background-color: #F4CE14;
  height: 2rem;
  width: 15rem;
  border-radius: 16px;
}

form > input, select {
  border-radius: 8px;
  height: 2rem;
}

.res-title {
  display: flex;
  align-self: center;
  font-size: large;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid black;
  margin-top: 4rem;
}

footer img {
  max-height:50px;
  padding: 5px;
}
footer p {
  font-size: small;
  padding-top: 15px;
}
footer img {
  animation: bounce 10s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}

footer div {
  flex: 1;
}
.confirmation-goodbye {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.error-message {
  color: tomato;
}

@media (max-width: 390px) {
  form {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .nav-main-div {
    display: none;
  }

  .max-width-container {
    padding: 1em;
    max-width: 100%;
  }

  .main {
    width: 100vw; /* Establece el ancho al 100% del viewport */
    position: relative; /* Establece la posición como relativa */
    right: -25px; /* Alinea el div a la derecha */
  }

  .hero-section-image {
    width: 150px;
    height: 155px;
    position: absolute;
    top: 30%;
    right: -26%;
  }
  .main-specials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 7rem;
    gap: 1rem;
  }
  .section-background {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: #495E57;
  }
  
  .card {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    width: 100vw;
    border-top: 1px solid #495E57;
  }

  .card-name,
  .card-details,
  .card-price {
    margin: 0;
    font-size: 16px;
  }
  .card-img {
    grid-row: 1 / span 3;
    grid-column: 2;
    align-self: center;
  }
  
  .card-button-container {
    display: none;
  }

  .card img {
    width: 80%;
    border-radius: 0%;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-info {
    order: 1; /* Cambia el orden a 1 (primero) */
  }
  .card-price {
    order: 3; /* Cambia el orden a 3 (último) */
  }

  .reservation-form {
    padding-left: 8rem;
  }

  .confirmation-page {
    padding: 4rem 0 2rem 8rem;
    font-size: large;
  }
  .confirmation-page h2 {
    color: #333333;
    padding-bottom: 2rem;
  }
  .back-button {
    padding: 2rem 0 2rem 6rem;
    display: flex;
    justify-content: center;
  }
  footer {
    width: 130vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 391px) {

  .nav-main-div img {
    padding-left: 2rem;
  }
  .sidebar {
    display: none;
  }
  #burger-icon {
    display: none;
  }
  
  .section-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: #495E57;
  }
  .hero-section-image {
    width: 236px;
    height: 231px;
    position: absolute;
    top: 20%;
    right: 10%;
  }

  .max-width-container {
    padding: 1em;
    max-width: 70%;
    margin: 0 auto;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 4rem;
  }

  .main-specials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 2rem;
  }

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    background-color: #EDEFEE;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    transition: all 0.5s;
  }

  .card-img {
    grid-row: 1 / span 2;
  }

  .card-info {
    display: flex;
    flex-flow: column;
    padding: 20px;
  }
  .card-name-price {
    display: flex;
    justify-content: space-between;
  }

  .card-name {
    grid-column: 1 / span 3;
  }

  .card-price {
    grid-column: 5 ;
    align-self: right;
  }

 .card-details {
  grid-column: 1 /-1;
 }

  .card:first-child {
    margin-right: auto; /* Empuja la primera card hacia la izquierda */
  }

  .card:last-child {
    margin-left: auto; /* Empuja la tercera card hacia la derecha */
  }

  .card img {
    max-height: 9rem;
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    object-fit: cover;
  }
  .card:hover {
    box-shadow: 0px 0px 0px 2px black;
    background-color: #f9f9f9;
    transition: all 0.5s;
  }

  .delivery {
    height: 1rem;
  }
  .card-button-container {
    display: flex;
    justify-content: space-between; 
  }
  img.delivery {
    width: 20%;
  }
  .confirmation-page {
    padding: 10rem 0px 10rem 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .confirmation-page h2 {
    color: #333333;
    padding-bottom: 2rem;
  }
  .back-button {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}